<div class='background-about'>
  <h2 class='text-center'>What drives us</h2>
</div>


<section class='color-bg-about'>
  <div class='text-center title-about'>
    Thunder Waste was born to show the world that there is <span class="green-color">life</span> and <span class="green-color">value</span> inside the trash bin.
  </div>


  <!--MISSION-->

  <section class='about-us-sections mr-5'>
    <div class='about-img-h2'>
      <img src="../images/eco-not-ego.jpeg" alt="mission">
    </div>
    <div class='about-text'>
      <h2>Mission</h2>
      <div class='div-bar'></div>
      <p class="text-justify">Our mission is to end waste.</p>
    </div>
  </section>

  <!--VISION-->

  <section class='about-us-sections mr-5'>
    <div class='about-img-h2'>
      <img src="../images/one-world.jpeg" alt="one-world">
    </div>
    <div class='about-text'>
      <h2>Vision</h2>
      <div class='div-bar'></div>
      <p class="text-justify">We have a sustainable pact with mother nature that aims at using fewer new resources. So our vision is to reduce, reuse and recycle. </p>
    </div>
  </section>


  <!--VALUES-->

  <section class='about-us-sections mr-5 mb-5'>
    <div class='about-img-h2'>
      <img src="../images/future.jpeg" alt="mission">
    </div>
    <div class='about-text'>
      <h2>Values</h2>
      <div class='div-bar'></div>
      <p class="text-justify">We believe that respect is essential to guide human relationships throughout personal and professional life. Always with transparency, we will be committed to helping our customers reduce the amount of waste they produce. In addition, we make a point of checking and monitoring whether the disposal of waste meets the requirements necessary for the maintenance of the environment.</p>
    </div>
  </section>
</section>





