<!--SECTION 1-->
<header class="background">
  <div class='slogan'>
    <h1>Thunder Waste</h1>
    <h2>Waste less, live more</h2>
    <h4>Let's end waste together</h3>
    <a class="btn teal accent-4 learn-more" href="/services" role="button">Learn More</a>
  </div>
</header>

<!--SECTION 2-->
<!-- Services -->
<section class="page-section" id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading how-it-works">How it works</h2>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-dumpster circle-icon"></i>
        </span>
        <h4 class="service-heading service-slogan">Equipment Selection</h4>
        <p class="text-muted service-text">
          We select a cost-efficient and right equipment for your project, based on your performance area and waste generation.
        </p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-truck-moving circle-icon"></i>
        </span>
        <h4 class="service-heading service-slogan">Delivery & Waste Removal</h4>
        <p class="text-muted service-text">
          We delivery the selected equipment and remove it right on time as per your schedule.
        </p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-recycle slow-speed circle-icon"></i>
        </span>
        <h4 class="service-heading service-slogan">Responsible Disposal</h4>
        <p class="text-muted service-text">
          We guarantee your waste will be headed to a trustworthy place committed to the highest standard of environmental responsibility.
        </p>
      </div>
    </div>
  </div>
</section>

<!--SECTION 3-->
<section class="section3">

  <div class='section3-text pl-5'>
    <h2 class='section3-h2 text-center'>No matter what's in your bin we know what to do with it</h2>
    <div class='check-types'>
      <a class="btn waste-type-btn" href="/recycling-waste-types" role="button">Check out your waste type</a>
    </div>
  </div>

  <div class='main-map-sign-div'>
    <div class="coop-div">
      <h3>Want to know where we dispose your waste?</h3>
      <p class='text-center'>Meet our resposible and accredited recycle centres</p>
      <div class='bee-and-sign'>
        <img src="../images/black-bee.png" alt="logo" class='pr-5 bee'>
        <div id='circle'>
          +
        </div>
        <img src="../images/sign.png" alt="recycle-sign" class='recycle-centre-sign pl-5'>
      </div>
    </div>
    <div id="map2">
    </div>
  </div>

</section>