<h2>Recycling types</h2>

<div class="type-pages-header">

</div>

Recycling reduces the amount of waste that must be burned or buried. It also takes some pressure off of the environment by reducing the need for new resources, such as paper and metals. The overall process of creating a new process from a reclaimed, recycled material also uses less energy than the creation of a product using new materials.


Metal: The metal in most aluminum and steel cans is 100 percent recyclable, meaning that it can be completely reused over and over again to make new cans. Yet every year, Americans throw away more than $1billion in aluminum cans.

Plastic: Plastic is made from the solid materials, or resins, left over after oil (a fossil fuel) has been refined to make gasoline. These resins are then heated and stretched or molded to make everything from bags to bottles to jugs. These plastics are easily collected from the waste stream and converted into new products.

Paper: Most paper products can only be recycled a few times as recycled paper is not as strong or sturdy as virgin materials. But for every metric ton of paper that is recycled, 17 trees are saved from logging operations. 

Glass: Glass is one of the easiest materials to recycle and reuse because it can be melted down over and over again. It is also less expensive to make glass from recycled glass than it is to make it from new materials because the recycled glass can be melted at a lower temperature.

If you aren't already recycling materials before they hit your trash can, now is a good time to start. As you can see, every item that gets hauled away in your trash causes an impact on the planet.