<div class="bg-pages">

  <div class='background-waste'>
    <h2 class='text-center'>Find your waste type</h2>
  </div>

  <div class='title-waste text-justify'>
    <span class="green-color">Recycling</span> reduces the amount of waste that must be burned or buried. It also takes some pressure off of the
    <span class="green-color">environment</span> by reducing the need for new resources, such as paper and metals.
    
  </div>

  <div class='text-center title-waste2'>
    Above you can check the waste types that can be recycled by our team
  </div>

  <div class="container main-div-types">
    <div class="row waste-type-grid">
      <div class="col-sm">
        <div class='img-hover-zoom--colorize'>
          <img src="./images/glass.png" alt="glass">
        </div>
        <a tabindex="0" class="btn btn-lg btn-blue-grey mb-5 mt-4" role="button" data-toggle="popover" data-trigger="focus"
          data-placement="bottom"
          data-content="Glass is one of the easiest materials to recycle and reuse because it can be melted down over and over again. It is also less expensive to make glass from recycled glass than it is to make it from new materials because the recycled glass can be melted at a lower temperature.">Glass</a>
      </div>
      <div class="col-sm">
        <div class='img-hover-zoom--colorize'>
          <img src="./images/paper.png" alt="paper">
        </div>
        <a tabindex="0" class="btn btn-lg btn-blue-grey mb-5 mt-4" role="button" data-toggle="popover" data-trigger="focus"
          data-placement="bottom"
          data-content="Most paper products can only be recycled a few times as recycled paper is not as strong or sturdy as virgin materials. But for every metric ton of paper that is recycled, 17 trees are saved from logging operations.">Paper</a>
      </div>
      <div class="col-sm">
        <div class='img-hover-zoom--colorize'>
          <img src="./images/plastic.png" alt="glass">
        </div>
        <a tabindex="0" class="btn btn-lg btn-blue-grey mb-5 mt-4" role="button" data-toggle="popover" data-trigger="focus"
          data-placement="bottom"
          data-content="Plastic is made from the solid materials, or resins, left over after oil (a fossil fuel) has been refined to make gasoline. These resins are then heated and stretched or molded to make everything from bags to bottles to jugs. These plastics are easily collected from the waste stream and converted into new products.">Plastic</a>
      </div>
    </div>

    <div class="row waste-type-grid">
      <div class="col-sm">
        <div class='img-hover-zoom--colorize'>
          <img src="./images/oil.png" alt="oil">
        </div>
        <a tabindex="0" class="btn btn-lg btn-blue-grey mb-5 mt-4" role="button" data-toggle="popover" data-trigger="focus"
          data-placement="bottom"
          data-content="Used oil is exactly what its name implies: any petroleum-based or synthetic oil that has been used. Oil keeps our cars, lawnmowers, and many other machines running smoothly. However, during normal use, impurities such as dirt, metal scrapings, water, or chemicals, can get mixed in with the oil, so that in time, the oil no longer performs well. Eventually, this used oil must be replaced with virgin or re-refined oil to do the job correctly.">Oil</a>
      </div>
      <div class="col-sm">
        <div class='img-hover-zoom--colorize'>
          <img src="./images/steel.png" alt="steel">
        </div>
        <a tabindex="0" class="btn btn-lg btn-blue-grey mb-5 mt-4" role="button" data-toggle="popover" data-trigger="focus"
          data-placement="bottom"
          data-content="The metal in most aluminum and steel cans is 100 percent recyclable, meaning that it can be completely reused over and over again to make new cans. Yet every year, Brazilians throw away more than $1billion in aluminum cans.">Metal</a>
      </div>
      <div class="col-sm">
        <div class='img-hover-zoom--colorize'>
          <img src="./images/wood.png" alt="wood">
        </div>
        <a tabindex="0" class="btn btn-lg btn-blue-grey mb-5 mt-4" role="button" data-toggle="popover" data-trigger="focus"
          data-placement="bottom"
          data-content="Wood waste falls into many categories and must be treated differently depending on its size and previous use. In this article we will examine what to do with four types of wood products found around the home: yard waste, untreated wood, treated/painted wood and home goods such as toys and kitchen accessories.">Wood</a>
      </div>
    </div>
  </div>

  {{!-- <div class="type-pages-header">

  </div> --}}
</div>