<div class="redirect-bg d-flex flex-column justify-content-center pl-5">
  <div class="d-flex flex-column align-items-top mb-5">
    <h3 class="mb-4 h2">Thank you</h3>
    <p class="h4 font-weight-light">for joining us and making this world a better and sustainable place</p>
  </div>

  <div class="d-flex flex-column align-items-top">
    <p>Please, choose your profile to proceed</p>
    <div class="d-flex">
      <div>
        <h4><a href="/home" class="btn btn-blue-grey">Companies</a></h4>
      </div>
      <div>
        <h4><a href="/staff" class="btn btn-blue-grey">Staff</a></h4>
      </div>
    </div>
  </div>
</div>