<h3>Thank you!</h3 >
<p>for joining us</p>
<p>and making this world a better</p>
<p>and sustainable</p>
<p>place</p>

<p>Who are you?</p>
<div class="d-flex">
  <div>
    <h4><a href="/home">Companies</a></h4>
  </div>
  <div>
    <h4><a href="/staff">Staff</a></h4>
  </div>
</div>