<h2 class='ourservices text-center'>Our Services</h2>


<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <img src="./images/recycle-bin.jpg" alt="recycle-bin" class="service-img">
      <h2 class="display-5">Smart Recycling Solutions</h2>
      <p class="lead">Affordable waste and recycling solutions for businesses</p>
    </div>
    <div class="text-center dots">
      <p><i class="fas fa-recycle icon"></i>Recycling opportunities for main industries' sector</p>
      <p><i class="fas fa-smile icon"></i>No matter what's in your bin we know what to do with it</p>
      <p><i class="fas fa-award icon"></i>Customized waste and recycling programs that are tailored specifically to your business and sustainability
        goals</p>
    </div>
  </div>

  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <img src="./images/papers.jpg" alt="paper-removal" class="service-img">
      <h2 class="display-5">Waste Removal</h2>
      <p class="lead">Fast and efficient waste removal for your business.</p>
    </div>
    <div class="text-center dots">
      
        <p><i class="fas fa-trash-alt icon"></i></ion-icon>Equipment selection for your project</p>
      <p><i class="fas fa-truck-moving icon"></i>Recycle waste removal</p>
      <p><i class="fas fa-check icon"></i></i>Responsible disposal commited to the highest
        standards of safety and environmental
        responsibility</p>
      <p><i class="fas fa-clipboard-list icon"></i>Reporting waste data</p>
    </div>
  </div>
</div>