<div class='bg-pages'>
<h2 class='ourservices text-center pb-5 font-weight-bold'>Our Services</h2>
<div class='div-bar-service'></div>



<div class="d-md-flex flex-md-equal w-80 pb-4 pl-md-3">
  <div class="mr-md-3 pt-1 px-3 pt-md-1 px-md-5 text-center overflow-hidden service-boxes mb-5">
    <div class="my-3 p-3">
      <h2 class="display-5">Smart Recycling Solutions</h2>
      <p class="lead">Affordable waste and recycling solutions for businesses</p>
      <img src="./images/recycle-bin.jpg" alt="recycle-bin" class="service-img">
    </div>
    <div class="text-left dots">

      <div class='d-flex align-items-center'>
        <i class="fas fa-recycle icon"></i>
        <p>Recycling opportunities for main industries' sector</p>
      </div>

      <div class='d-flex align-items-center'>
        <i class="fas fa-smile icon"></i>
        <p>We belive everything inside your trash bin has a worth</p>
      </div>

      <div class='d-flex align-items-center'>
        <i class="fas fa-award icon"></i>
        <p>Customized waste and recycling programs that are tailored specifically to your business and sustainability
        goals</p>
      </div>

    </div>
  </div>

  <div class="mr-md-3 pt-1 px-3 pt-md-1 px-md-5 text-center overflow-hidden service-boxes mb-5">
    <div class="my-3 p-3">
      <h2 class="display-5">Waste Removal</h2>
      <p class="lead">Fast and efficient waste removal for your business.</p>
      <img src="./images/papers.jpg" alt="paper-removal" class="service-img">
    </div>
    <div class="text-left dots">

      <div class='d-flex align-items-center'>
        <i class="fas fa-trash-alt icon"></i>
        <p>Equipment selection for your project</p>
      </div>

      <div class='d-flex align-items-center'>
        <i class="fas fa-truck-moving icon"></i>
        <p>Recycle waste removal</p>
      </div>

      <div class='d-flex align-items-center'>
        <i class="fas fa-check icon"></i>
        <p>Responsible disposal commited to the highest
        standards of safety and environmental
        responsibility</p>
      </div>

      <div class='d-flex align-items-center'>
        <i class="fas fa-clipboard-list icon"></i>
        <p>Reporting waste data</p>
      </div>
    </div>
  </div>
</div>

</div>
