<h1>WELCOME, {{name}}</h1>

<h3>My Profile</h3>
<a href="/employees/{{_id}}">See Profile</a>
<a href="/employees/{{_id}}/edit">Edit Profile</a>
<h3>Clients</h3>
<a href="/users">See All</a>
<h3>Employees</h3>
<a href="/employees">See All</a>
