<h1>WELCOME, {{name}}</h1>

<h3>My Profile</h3>
<a href="/employees/{{_id}}" class="btn btn-secondary">See Profile</a>
<a href="/employees/{{_id}}/edit" class="btn btn-secondary">Edit Profile</a>
<h3>Clients</h3>
<a href="/staff/users" class="btn btn-secondary">See All</a>
<h3>Employees</h3>
<a href="/staff/employees" class="btn btn-secondary">See All</a>
<a href="/staff/employees/add" class="btn btn-secondary">Add New Employee</a>
