<h1>All Clients</h1>
<ul>
  {{#each clients}}
  <li>
    <a href="/staff/users/{{this._id}}">{{this.name}} | </a>
    <a href="/staff/users/{{this._id}}/edit">Edit |</a>
    {{#if admin}}
    {{!-- add delete button --}}
    {{/if}}
    </li>
  {{/each}}
</ul>

<a href="/staff/" class="btn btn-secondary">Home</a>