* {
  padding: 0;
  margin: 0;
}

.img {
  width: 100%;
}

.navbar {
  height: 7vw;
}

.logo {
  width: 10vw;
  height: 10vw;
}

.background {
  margin-top: -4vw;
  background-size: cover;
  background-image: url(../images/hand_with_plant.jpg);
  position: 00;
  height: 60vw;
}

.slogan {
  position: absolute;
  left: 55vw;
  top: 30vw;
}

.learn-more {
  border: solid lightseagreen;
  box-shadow: 0vw 0vw 0.5vw lightseagreen;

}

.how-it-works {
  margin: 5vw;
  font-size: 4vw;
  font-weight: 500;
  color: #424242;
}

.slow-speed {
  -webkit-animation: fa-spin 6s infinite linear;
  animation: fa-spin 6s infinite linear;
}

.circle-icon{
  display: inline-block;
  border-style: solid;
  border-radius: 100%;
  box-shadow: 0vw 0vw 0.5vw lightseagreen;
  padding: 0.5em 0.5em;
  color: lightseagreen; 
}

.service-slogan {
  margin: 2vw;
}

.service-text {
  margin-bottom: 5vw;
}

.section3 {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-image: url(../images/plant.jpeg);
  position: 00;
  height: 60vw;
  color: white;
}

.section3-text {
  display: flex;
  flex-direction: column;
  padding-top: 7vw;
}

.section3-h2 {
  font-weight: 800;
  font-size: 3vw;
  height: 5vw;
  
}

.check-types {
  display: flex;
  flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: space-around;
  
}

.check-types h3 {
  font-weight: 500;
}

.waste-type-btn {
  color: darkslategray;
  font-size: 1.3vw;
  border-radius: 5%;
  box-shadow: 0vw 0vw 0.5vw darkgray;

}

.main-map-sign-div {
  display: flex;
  padding-top: 15vw;

}

.recycle-centre-sign {
  width: 20vw;
  height: 20vw;
}


.service-page {
  background-color: #e8e7e3;
}

.ourservices{
  padding-top: 4vw;
  font-size: 4vw;
  color: #424242;
}

.service-boxes {
  border-radius: 15%;
  margin-left: 5vw;
  border: solid #424242;
}

.service-img {
  height: 20vw;
  margin-bottom: 0.5vw;
  border: solid lightseagreen;
  border-radius: 5%;
}

.dots p{
  margin: 1vw; 
}

.icon {
  margin: 2vw;
  font-size: 2.5vw;
}

.type-pages-header {
  background-size: cover;
  background-image: url(../images/map-2.png);
  position: 00;
  height: 60vw;

}

.footer-colums {
  display: flex;
	justify-content: center;
	align-items: center;
  align-content: space-around;
  margin-top: -1vw;
}

.footer-text {
  font-size: 1.2vw;
  font-weight: 500;
}

.footer-logo{
  width: 20vw;
  height: 20vw;
  margin-right: 10vw;
}

.footer-fa {
  margin-right: 2vw;
}

.name-size {
  font-size: 2vw;
}

/* .footer-size{
  height: 10vw;
} */

#map {
  height: 400px;
  width: 60%;
}





.truck {
  animation: fly 0.5s ease-out infinite;
  animation-delay: 2s;
}
@keyframes fly {
  0% {
      transform: translate3d(0, 0, 0);
  }

  25% {
      transform: translate3d(70px, 0, 0);
  }

  50% {
      transform: translate3d(70px, 0, 0);
  }

  100% {
      transform: translate3d(5px, 0, 0);
  }
}