<h2>User's booking</h2>

<form action="/bookings" method="POST">
  <label for="date">Date: </label>
  <input type="date" name="date" id="date" placeholder="Date" required>

  <label for="time">Time: </label>
  <select name="time" id="time">
    <option>Choose...</option>
    <option value="morning">Morning (8am to 12pm)</option>
    <option value="afternoon">Afternoon (1pm to 5pm)</option>
    <option value="evening">Evening (6pm to 11pm)</option>
  </select>

  <label for="material">Material: </label>
  <select name="material" id="material">
    <option>Choose...</option>
    <option value="glass">Glass</option>
    <option value="oil">Oil</option>
    <option value="paper">Paper</option>
    <option value="plastic">Plastic</option>
    <option value="wood">Wood</option>
  </select>

  <label for="quantity">Quantity: </label>
  <input type="number" name="quantity" id="quantity" placeholder="Quantity" required>
  <label for="kg">Kg </label>

  <label for="responsiblePerson">Responsible Person: </label>
  <input type="text" name="responsiblePerson" id="responsiblePerson" placeholder="Who will receive our team" required>

  <button type="submit">Schedule your waste removal</button>
  <a href="/home">Cancel</a>
</form>
 
