<h2>User's Homepage</h2>

<h3>Welcome back, {{name}}!</h3>

<h4>Your last bookings:</h4>
{{bookings}}

<a href="/profile/{{_id}}">My account</a>
<br><br>
<a href="/bookings/{{_id}}">Schedule waste remove</a>
